@{
    ViewData["Title"] = "Home Page";
}

<link href="~/Content/css/index.css" rel="stylesheet">

<section id="header" class="clearfix cd-secondary-nav">
    <div class="container">
        <div class="row">
            <div class="header_main clearfix">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">BUTTERFLY CINEMA <span>A BUTTERFLY NEVER DIES</span></a>
                    </div>


                    <div class="collapse navbar-collapse js-navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="font_tag active_tag" href="/Home/Index">TRANG CHỦ</a></li>
                            <li><a class="font_tag" href="/Movies/Movies">PHIM</a></li>
                            <li><a class="font_tag" href="/Pricing/Pricing">RẠP VÀ GIÁ</a></li>
                            <li><a class="font_tag" href="/Ads/Ads">KHUYẾN MÃI</a></li>
                            <li><a class="font_tag" href="/Event/Event">BẢNG TIN</a></li>
                            <li><a class="font_tag border_none_1" href="/Contact/Contact">LIÊN HỆ</a></li>
                        </ul>

                    </div><!-- /.nav-collapse -->
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section id="center" class="center_home clearfix">
        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
            <ol class="carousel-indicators">
                <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#bs-carousel" data-slide-to="1" class=""></li>
                <li data-target="#bs-carousel" data-slide-to="2" class=""></li>
            </ol>

            <div class="carousel-inner">
                <div class="item slides active">
                    <div class="hero">
                        <div class="slide-1">
                            <img src="~/Content/img/5.png" alt="" />
                        </div>
                    </div>
                </div>

                <div class="item slides">
                    <div class="hero">
                        <div class="slide-2">
                            <img src="/Content/img/2.png" alt="" />
                        </div>
                    </div>
                </div>

                <div class="item slides">
                    <div class="hero">
                        <div class="slide-3">
                            <img src="~/Content/img/3.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section id="booking">
    <div class="container">
        <div class="row">
            <div class="booking clearfix">
                <div class="col-sm-8">
                    <div class="booking_left_main clearfix">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">PHIM HOT</a></li>
                            <li><a data-toggle="tab" href="#menu1">ĐANG CHIẾU</a></li>
                            <li><a data-toggle="tab" href="#menu2">SẮP CHIẾU</a></li>
                        </ul>

                        <div class="tab-content clearfix">
                            <div id="home" class="tab-pane fade in active clearfix">
                                <div class="click clearfix">
                                    @{
                                        int maxRows = 3; // Số hàng tối đa
                                        int count = 0; // Đếm tổng số phim đã hiển thị
                                        int movieCount = ViewBag.Movies.Count; // Tổng số phim trong danh sách
                                    }

                                    <div class="click_1 clearfix">
                                        <h3>Đặt vé trực tuyến <a class="pull-right" href="/Movies/Movies"> Tất cả phim</a></h3>
                                    </div>

                                    @for (int row = 0; row < maxRows; row++)
                                    {
                                        <div class="click_2 clearfix">
                                            @for (int col = 0; col < 3; col++)
                                            {
                                                if (count < movieCount) // Kiểm tra nếu còn phim để hiển thị
                                                {
                                                    var movie = ViewBag.Movies[count];
                                                  
                                                    if (movie.Rating >= 7) {
                                                        <div class="col-sm-4">
                                                            <div class="click_2_inner clearfix">
                                                                <a href="@Url.Action("Detail", "Home", new { id = movie.MovieId })"><img src=@movie.Poster width="100%" height="300px"></a>
                                                                <p class="text-center"><a href="@Url.Action("Detail", "Home", new { id = movie.MovieId })">@movie.MovieName</a></p>
                                                            </div>
                                                        </div>
                                                        count++;
                                                    }
                                                    else { 
                                                        count++;
                                                        col--;
                                                    }

                                                }
                                            }
                                        </div>
                                    }
                                </div>
                            </div>

                            <div id="menu1" class="tab-pane fade clearfix">
                                <div class="click clearfix">
                                    @{
                                        count = 0; // Đếm tổng số phim đã hiển thị
                                        var today = DateOnly.FromDateTime(DateTime.Today); // Lấy ngày hôm nay
                                    }

                                    <div class="click_1 clearfix">
                                        <h3>Đặt vé trực tuyến <a class="pull-right" href="/Movies/Movies"> Tất cả phim</a></h3>
                                    </div>

                                    @for (int row = 0; row < maxRows; row++)
                                    {
                                        <div class="click_2 clearfix">
                                            @for (int col = 0; col < 3; col++)
                                            {
                                                if (count < movieCount) // Kiểm tra nếu còn phim để hiển thị
                                                {
                                                    var movie = ViewBag.Movies[count];

                                                    // Kiểm tra ngày khởi chiếu
                                                    if (movie.ReleaseDate <= today) // Nếu ngày khởi chiếu từ hôm nay trở về trước
                                                    {
                                                        <div class="col-sm-4">
                                                            <div class="click_2_inner clearfix">
                                                                <a href="@Url.Action("Detail", "Home", new { id = movie.MovieId })"><img src=@movie.Poster width="100%" height="300px"></a>
                                                                <p class="text-center"><a href="@Url.Action("Detail", "Home", new { id = movie.MovieId })">@movie.MovieName</a></p>
                                                            </div>
                                                        </div>
                                                        count++;
                                                    }
                                                    else {
                                                        count++;
                                                        col--;
                                                    }
                                                }
                                            }
                                        </div>
                                    }
                                </div>
                            </div>

                            <div id="menu2" class="tab-pane fade clearfix">
                                <div class="click clearfix">
                                    @{
                                        count = 0; // Đếm tổng số phim đã hiển thị
                                    }

                                    <div class="click_1 clearfix">
                                        <h3>Đặt vé trực tuyến <a class="pull-right" href="/Movies/Movies"> Tất cả phim</a></h3>
                                    </div>

                                    @for (int row = 0; row < maxRows; row++)
                                    {
                                        <div class="click_2 clearfix">
                                            @for (int col = 0; col < 3; col++)
                                            {
                                                if (count < movieCount) // Kiểm tra nếu còn phim để hiển thị
                                                {
                                                    var movie = ViewBag.Movies[count];

                                                    // Kiểm tra ngày khởi chiếu
                                                    if (movie.ReleaseDate > today)
                                                    {
                                                        <div class="col-sm-4">
                                                            <div class="click_2_inner clearfix">
                                                                <a href="@Url.Action("Detail", "Home", new { id = movie.MovieId })"><img src=@movie.Poster width="100%" height="300px"></a>
                                                                <p class="text-center"><a href="@Url.Action("Detail", "Home", new { id = movie.MovieId })">@movie.MovieName</a></p>
                                                            </div>
                                                        </div>
                                                        count++;
                                                    }
                                                    else {
                                                        count++;
                                                        col--;
                                                    }
                                                }
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="booking_right_main clearfix">
                        <div class="booking_right_main_1 clearfix">
                            <ul>
                                <li class="book_1">ĐẶT VÉ NHANH</li>
                                <li class="pull-right"><a><i class="fa fa-ticket"></i></a></li>
                            </ul>
                        </div>
                        <div class="booking_right_main_2 clearfix">
                            <div class="booking_right_main_2_inner clearfix">
                                <p>Chọn rạp</p>
                                <select id="cinemaSelect" class="form-control">
                                    <option value="" disabled selected>Chọn rạp</option>
                                    @foreach (var cinema in ViewBag.Cinemas)
                                    {
                                        <option value="@cinema.CinemaId">@cinema.CinemaName</option>
                                    }
                                </select>
                            </div>

                            <div class="booking_right_main_2_inner clearfix">
                                <p>Chọn phim </p>
                                <select class="form-control" id="movieSelect" disabled>
                                    <option value="" disabled selected>Chọn phim</option>
                                </select>
                            </div>
                            
                            <div class="booking_right_main_2_inner clearfix">
                                <p>Chọn ngày chiếu</p>
                                <select class="form-control" id="dateSelect" disabled>
                                    <option value="" disabled selected>Chọn ngày chiếu</option>
                                </select>
                            </div>

                            <div class="booking_right_main_2_inner clearfix">
                                <p>Chọn suất chiếu</p>
                                <select class="form-control" id="showtimeSelect" disabled>
                                    <option value="" disabled selected>Chọn suất chiếu</option>
                                </select>
                                <p class="p_1">Vui lòng chọn đầy đủ thông tin</p>
                                <div>
                                    <button class="btn btn-lg btn-booking">ĐẶT VÉ</button>
                                </div>
                                <h4></h4>
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="booking_right_main_3 clearfix">
                            <div class="grid">
                                <figure class="effect-milo">
                                    <img src="~/Content/img/giave.png" alt="img03" />
                                    <figcaption>
                                        <p>Giá vé ưu đãi: 45.000 đ/vé</p>
                                        <br>
                                        <p>Không áp dụng cho các ngày lễ/tết</p>
                                        <a href="/Pricing/Pricing">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="booking_1 clearfix">
                <h3>TIN MỚI - ƯU ĐÃI</h3>
                <div class="booking_1_inner clearfix">
                    <div class="col-sm-4">
                        <div class="booking_1_inner_1 clearfix">
                            <a href="#"><img src="https://cinestar.com.vn/pictures/talk-to-me-5.jpeg" width="100%" height="220px"></a>
                            <h4><a href="#">[TALK TO ME] - Loạt siêu phẩm đáng trông chờ nhất từ “xưởng phim độc lạ” A24: Từ màn gọi hồn ghê rợn đến nhan sắc gây sốc của cựu “hoàng tử Disney”</a></h4>
                            <p><a href="#">Đây đích thị là bộ phim bí ẩn nhất của nhà A24 trong thời điểm hiện nay. Ngoài nhan đề mang tên Civil War và dàn diễn viên đình đám gồm Kirsten Dunst, Wagner Moura... thì nội dung của Civil War đang hoàn toàn được giữ kín và vô cùng bảo mật. Tuy vậy, truyền thông Hollywood dự đoán đây sẽ là tác phẩm khai thác tương lai của nhân loại, vào thời điểm cuộc Nội chiến thứ 2 xảy ra vô cùng gay gắt.</a></p>
                            <h6><a href="#">XEM THÊM</a></h6>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="booking_1_inner_1 clearfix">
                            <a href="#"><img src="https://cinestar.com.vn/pictures/ben-trong-vo-ken-vang-1.jpeg" width="100%" height="220px"></a>
                            <h4><a href="#">BÊN TRONG VỎ KÉN VÀNG | Phim Việt thắng lớn tại Cannes “Bên Trong Vỏ Kén Vàng ” sẽ ra mắt khán giả trong nước tháng 8 này</a></h4>
                            <p>
                                <a href="#">
                                    Tại Liên hoan phim Cannes 2023, bộ phim Bên Trong Vỏ Kén Vàng (tựa tiếng Anh: Inside the Yellow Cocoon Shell) đã chiến thắng ở hạng mục Camera d'Or – giải thưởng vinh danh các tác phẩm đầu tay xuất sắc. Tác phẩm của đạo diễn Phạm Thiên Ân là bộ phim thứ hai của Việt Nam giành được giải này sau 30 năm kể từ Mùi Đu Đủ Xanh. Tin vui đến với người hâm mộ điện ảnh trong nước, Bên Trong Vỏ Kén Vàng sẽ khởi chiếu tại Việt Nam kể từ ngày 11.08.2023.
                                </a>
                            </p>
                            <h6><a href="#">XEM THÊM</a></h6>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="booking_1_inner_1 clearfix">
                            <a href="#"><img src="https://cinestar.com.vn/pictures/ac-quy-ma-so-2.jpeg" width="100%" height="220px"></a>
                            <h4><a href="#">[Ác Quỷ Ma Sơ II] - Biểu tượng kinh dị đình đám Valak chính thức trở lại trong trailer mới của “Ác Quỷ Ma Sơ II”</a></h4>
                            <p>
                                <a href="#">
                                    Một trong những biểu tượng kinh dị đình đám nhất của vũ trụ kinh dị The Conjuring nói riêng và điện ảnh thế giới thế kỷ 21 nói chung - ma sơ Valak - sẽ có màn trở lại trong phần phim riêng mới The Nun II (tựa Việt: Ác Quỷ Ma Sơ II).
                                </a>
                            </p>
                            <h6><a href="#">XEM THÊM</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="booking_last">
    <div class="container">
        <div class="row">
            <div class="booking_last clearfix">
                <div class="col-sm-4">
                    <div class="booking_right_main_3 clearfix">
                        <div class="grid">
                            <figure class="effect-milo">
                                <img src="~/Content/img/km1.png" alt="img03">
                                <figcaption>
                                    <!-- <h2>Cinema <span>Zone</span></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                                    <a onclick="detailAds(3)">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="booking_right_main_3 clearfix">
                        <div class="grid">
                            <figure class="effect-milo">
                                <img src="~/Content/img/km2.png" alt="img03">
                                <figcaption>
                                    <!-- <h2>Cinema <span>Zone</span></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                                    <a onclick="detailAds(2)">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="booking_right_main_3 clearfix">
                        <div class="grid">
                            <figure class="effect-milo">
                                <img src="~/Content/img/km1.png" alt="img03">
                                <figcaption>
                                    <!-- <h2>Cinema <span>Zone</span></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                                    <a onclick="detailAds(3)">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#cinemaSelect').change(function () {
            const cinemaId = $(this).val();
            $('#movieSelect').empty().append('<option value="" disabled selected>Chọn phim</option>').prop('disabled', true);
            $('#showtimeSelect').empty().append('<option value="" disabled selected>Chọn suất chiếu</option>').prop('disabled', true);

            if (cinemaId) {
                $.get('@Url.Action("GetMoviesByCinema", "Home")', { cinemaId: cinemaId }, function (data) {
                    console.log(data);
                    data.forEach(movie => {
                        $('#movieSelect').append(`<option value="${movie.movieId}">${movie.movieName}</option>`);
                    });
                    $('#movieSelect').prop('disabled', false);
                });
            }
        });

        $('#movieSelect').change(function () {
            const movieId = $(this).val();
            $('#dateSelect').empty().append('<option value="" disabled selected>Chọn ngày</option>').prop('disabled', true);
            $('#showtimeSelect').empty().append('<option value="" disabled selected>Chọn suất chiếu</option>').prop('disabled', true);

            if (movieId) {
                // Gọi đến phương thức để lấy các ngày chiếu
                $.get('@Url.Action("GetShowDatesByMovie", "Home")', { movieId: movieId }, function (data) {
                    data.forEach(date => {
                        $('#dateSelect').append(`<option value="${date}">${date}</option>`);
                    });
                    $('#dateSelect').prop('disabled', false);
                });
            }
        });

        $('#dateSelect').change(function () {
            const date = $(this).val(); // Lấy ngày đã chọn
            $('#showtimeSelect').empty().append('<option value="" disabled selected>Chọn suất chiếu</option>').prop('disabled', true);

            if (date) {
                $.get('@Url.Action("GetShowtimes", "Home")', { date: date }, function (data) {
                    console.log(data);
                    if (data.length > 0) {
                        data.forEach(showtime => {
                            $('#showtimeSelect').append(`<option value="${showtime.showDate}">${showtime.startTime}</option>`);
                        });
                        $('#showtimeSelect').prop('disabled', false);
                    } else {
                        $('#showtimeSelect').prop('disabled', true);
                        $('.p_1').text('Không có suất chiếu nào khả dụng cho ngày đã chọn');
                    }
                });
            }
        });

        $('#showtimeSelect').change(function () {
            $('.p_1').text('');
        });
    });
</script>
